body {
  margin: 0;
  padding: 0;
}
.nav { 
  width: 33%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.nav div {
  font-size: 2vw;
  color: #932b53;
  background: #0b0709;
  float: left;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ededed;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav .nav__selected {
  color: #ededed;
}
main {
  position: absolute;
  z-index: 0;
}
.home__image--main {
  width: 100%;
  object-fit: none;
  object-position: center;
  height: 50vw;
  display: block;
}
.home__large--left {
  float: left;
  height: 50vw;
  width: 50%;
  background: green;
}
.home__small--right {
  float: left;
  width: 50%;
  height: 25vw;
  background:blue;
}
.home__small--right:last-child {
  float: left;
  width: 50%;
  height: 25vw;
  background:yellow;
}
.clear {
  clear: both;
}
.home__small--left {
  float: right;
  width: 50%;
  height: 25vw;
  background: teal;
}
.home__small--left:last-child {
  float: left;
  width: 50%;
  height: 25vw;
  background: blue;
}
.home__large--right {
  float: right;
  width: 50%;
  height: 50vw;
  background: lime;
}
.home__text--large {
  text-align: center;
  line-height: 50vw;
}
.home__text--small {
  text-align: center;
  line-height: 25vw;
}
.intro__message {
  position: absolute;
  top: 14%;
  left: 20%;
  width: 50%;
  color: white;
  font-size: 2vw;
  text-align: center;
}