<div class="nav__bottom">
		<div class="nav__bottom--div nav__bottom--copyright">Copyright 2015.  All rights reserved.  Created by Andrey Ryazanov.</div>
		<div class="nav__bottom--div nav__about nav__bottom--links"><a ng-href="#/about">About.</a></div>
		<div class="nav__bottom--div nav__run nav__bottom--links"><a ng-href="#/run">Run.&nbsp; </a></div>
		<div class="nav__bottom--div nav__blog nav__bottom--links"><a ng-href="#/blog">Blog.&nbsp; </a></div>
		<div class="nav__bottom--div nav__travel nav__bottom--links"><a ng-href="#/travel">Travel.&nbsp; </a></div>	
		<div class="nav__bottom--div nav__home nav__bottom--links"><a ng-href="#/">Home.&nbsp; </a></div>

</div>