<div>
	<img ng-src="images/photos/{{windowSize}}/egypt-soccer-{{windowSize}}.jpg" alt="Soccer on the Nile" class="home__image--main">
	<div class="intro__message">This website is a work in progress and a constant experiment.  At the moment it's an experiment in mixing Angular.js, PHP, and MySQL on a Dreamhost shared server.  Why? Because I want to know if I can, and because it's already infinitely faster than my old WordPress website/blog which took upwards of 8 seconds to load.  Check back weekly for updates to the appearance/functionality!</div>
</div>
<div>
	<div class="home__large--left home__text--large">
		Future Blog Post
	</div>
	<div class="home__small--right home__text--small">
		Work Link
	</div>
	<div class="home__small--right home__text--small">
		Running Link
	</div>
</div>
<div class="clear"></div>
<div>
	<div class="home__large--right home__text--large">
		Future Blog Post
	</div>
	<div class="home__small--left home__text--small">
		Running link
	</div>
	<div class="home__small--left home__text--small">
		Running link
	</div>
</div>