<div class="nav">
	<div class="innerNav nav__home nav__selected" ng-click="changeFocus()"><a ng-href="#/">Home</a></div>
	<div class="innerNav nav__travel" ng-click="changeFocus()"><a ng-href="#/travel">Travel</a></div>
	<div class="innerNav nav__blog" ng-click="changeFocus()"><a ng-href="#/blog">Blog</a></div>
	<div class="innerNav nav__run" ng-click="changeFocus()"><a ng-href="#/run">Run</a></div>
	<div class="innerNav nav__about" ng-click="changeFocus()"><a ng-href="#/about">About</a></div>
</div>